@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic');;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Outline&family=Bungee+Shade&family=Cabin+Sketch&family=Catamaran:wght@100;400;500;600;700;800;900&family=Dela+Gothic+One&family=Finger+Paint&family=Monoton&family=Open+Sans&family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Lobster&display=swap');

:root {
  --fucsia: #9C2750;
  --pink: #FB4B6F;
  --beige: #F9C5AC;
  --grey: #5B585A;
  --teal: #487A7A;

  --darkblue: #262835;
  --bluegrey: #2d333f;

  /* BERT */
  --blackish: #0B0C10;
  --deepblue: #1F2833;
  --lightgrey: #C5C6C7;
  --lightteal: #66FCF1;
  --greenteal: #45A29E;
  --darkteal: #334B4A;
  --brightfucsia: #9D0051;
  --darkfucsia: #57002d;
  --nearlyblack: #242526;

  /* Fonts */
  --bungee: 'Bungee';
  --bungee-outline: 'Bungee Outline';
  --bungee-shade: 'Bungee Shade';
  --cabin-sketch: 'Cabin Sketch';
  --finger-paint: 'Finger Paint';
  --monoton: 'Monoton';
  --vast-shadow: 'Vast Shadow';
  --open-sans: 'Open Sans';
  --dela-gothic-one: 'Dela Gothic One';
  --catamaran: 'Catamaran';
  --Lemonada: 'Lemonada';
  --Lobster: 'Lobster';
  --Raleway: 'Raleway';

  --fox-color-highlight: #ffac34;
  --fox-color-primary: #ff8c35;
  --fox-color-shadow: #d6601f;
  --fox-color-white-primary: #e7ddce;
  --fox-color-white-secondary: #fff5e5;

  /**
   * Primary Vars
   */
  --text-primary: var(--blackish);
  --text-highlight: var(--deepblue);

  --highlight: var(--brightfucsia);
  --accent: var(--fox-color-shadow);

  --bg: #FFFFFF;
  --bg-accent: #1f283325;
  --bg-primary: #f9f9fd;

  --btn: #f8f9fa;
  --btn-highlight: #e2e6ea;
  --btn-disabled: #6c757d;

  --nav-size: 60px;
  --border: 1px solid var(--bg-accent);
  --border-radius: 8px;
  --speed: 300ms;

  --width: 700px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* =============== *
 * Layout
 * =============== */

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
}

#root {
  font-size: 16px;
  font-family: var(--open-sans);

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
}

main {
  padding: 0.5rem;
  padding-top: calc(var(--nav-size) + 20px);
  border-color: var(--bg-accent);
  border-width: 2px;
  background-color: var(--bg);
}

header {
  background-color: var(--bg);
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 10;
}

.splash {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
  border: var(--border);
  background-color: var(--bg);
  max-width: 800px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: var(--width);
  width: 100%;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-box::after {
  content: "";
  flex: auto;
}

.flex-column {
  flex-direction: column;
}

.gap-quarter {
  gap: 0.25rem;
}

.gap-half {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

/* =============== *
 * Navigation
 * =============== */

/* <nav> */
nav {
  height: var(--nav-size);
  padding: 0 1rem;
  width: var(--width);
  align-items: center;
  justify-content: center;
}

/* <ul> */
.navbar-nav {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:first-child {
  margin-right: auto;
}

/* Icon Button */
.icon-button {
  box-sizing: content-box;
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  border-width: 0px;
  border-style: solid;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  background-color: inherit;
}

.icon-button:hover {
  filter: brightness(1.2);
  background-color: var(--bg-accent);
}

.icon-button svg {
  width: 20px;
  height: 20px;
}

.icon-button img {
  border-radius: 50%;
  width: var(--button-size);
  height: var(--button-size);
  object-fit: cover;
}

/* Dropdown Menu */

.dropdown {
  height: 0px;
  position: absolute;
  top: 58px;
  width: 200px;
  transform: translateX(-40%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.menu-btn {
  font-size: 0.8rem;
  border-width: 0;
  background-color: var(--bg);
  cursor: pointer;
}

.menu-btn a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-item:hover {
  background-color: var(--bg-accent);
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.scale-img {
  transform: scale(1, 1);
  transition: all .3s ease-in-out;
}

.scale-img:hover {
  transform: scale(1.05, 1.05);
}

/**
 * Masonary
 */
.masonry-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masonry-img:hover {
  border-radius: var(--border-radius);
  z-index: 1;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  width: 100%;
}

.masonry-brick {
  flex: auto;
  height: 200px;
  min-width: 150px;
  overflow: hidden;
  border-width: 0px;
  border-style: solid;
  border-color:rgba(0, 0, 0, 0);
  transition: all .3s linear;
}
.masonry-brick:nth-child(3n+1) {
  width: 250px;
}
.masonry-brick:nth-child(4n+1) {
  width: 325px;
}
.masonry-brick:nth-child(5n+1) {
  width: 180px;
}
.masonry-brick:nth-child(7n+1) {
  width: 380px;
}
.masonry-brick:nth-child(9n+1) {
  width: 100px;
}
.masonry-brick:hover {
  border-color:rgba(0, 0, 0, .5);
  /* box-shadow: 0 4px 8px 0 rgba(59, 36, 36, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.masonry-brick-100 {
  padding: 2rem;
  text-align: center;
  min-height: 200px;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--bg-primary);
}

/* =============== *
 * Typography
 * =============== */

h1, h2, h3 {
  font-family: var(--Raleway);
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

i.las {
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
  padding: 5px;
}

/* =============== *
 * Components
 * =============== */

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--text-highlight);
}

a.link {
  color: var(--highlight);
  text-decoration: none;
}

a.link:hover {
  text-decoration: outline;
}

input,
textarea {
  font-family: var(--open-sans);
  font-weight: 400;
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--bg-primary);
}

textarea {
  resize: none;
  width: 100%;
  border: 0px;
}

textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary);
}

input[type=text],
input[type=number],
input[type=password],
textarea {
  border-style: solid;
  border-width: 0;
  border-radius: 0;
  border-bottom-color: var(--bg-accent);
  border-bottom-width: 2px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus {
  outline: none;
  border-bottom-color: var(--greenteal);
  border-bottom-width: 3px;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--btn);
  border: var(--border);
  border-radius: var(--border-radius);
}

.btn:hover {
  background-color: var(--btn-highlight);
}

.react-datetime-picker__wrapper {
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: var(--bg-accent);
}

.react-datetime-picker__wrapper input {
  border-width: 0px;
}

/* =============== *
 * React Select rs
 * =============== */

.rs__control {
  border-width: 0px !important;
  border-radius: 0px !important;
  border-bottom: 2px solid var(--bg-accent) !important;
}

.rs__control--is-focused {
  outline: none;
  border-bottom: 2px solid var(--greenteal) !important;
  box-shadow: none !important;
}

.rs__multi-value {
  /* border: 1px solid var(--bg-accent);
  background-color: var(--bg) !important; */
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.41429rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.rs__multi-value__label {
  color: var(--highlight) !important;
}

.rs__multi-value__remove:hover {
  color: var(--bg) !important;
  background-color: var(--highlight) !important;
}

.rs__value-container--is-multi {
  /* justify-content: flex-end; */
}

.rs__option {
  text-align: start;
  font-size: 1rem !important;
}