:root {
  --fucsia: #9C2750;
  --pink: #FB4B6F;
  --beige: #F9C5AC;
  --grey: #5B585A;
  --teal: #487A7A;

  --darkblue: #262835;
  --bluegrey: #2d333f;

  /* BERT */
  --blackish: #0B0C10;
  --deepblue: #1F2833;
  --lightgrey: #C5C6C7;
  --lightteal: #66FCF1;
  --greenteal: #45A29E;
  --darkteal: #334B4A;
  --brightfucsia: #9D0051;
  --darkfucsia: #57002d;
  --nearlyblack: #242526;

  /* Fonts */
  --bungee: 'Bungee';
  --bungee-outline: 'Bungee Outline';
  --bungee-shade: 'Bungee Shade';
  --cabin-sketch: 'Cabin Sketch';
  --finger-paint: 'Finger Paint';
  --monoton: 'Monoton';
  --vast-shadow: 'Vast Shadow';
  --open-sans: 'Open Sans';
  --dela-gothic-one: 'Dela Gothic One';
  --catamaran: 'Catamaran';
  --Lemonada: 'Lemonada';
  --Lobster: 'Lobster';

  /**
   * Primary Vars
   */
  --text-primary: var(--blackish);
  --text-highlight: var(--deepblue);

  --bg: #FFFFFF;
  --bg-accent: #1f283325;
  --bg-primary: #f9f9fd;

  --btn: #f8f9fa;
  --btn-highlight: #e2e6ea;

  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid var(--bg-accent);
  --border-radius: 8px;
  --speed: 300ms;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* =============== *
 * Layout
 * =============== */

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
}

#root {
  font-size: 16px;
  font-family: var(--open-sans);

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
}

main {
  padding-top: calc(var(--nav-size) + 20px);
  border-color: var(--bg-accent);
  border-style: solid;
  border-width: 2px;
  background-color: var(--bg);
}

header {
  background-color: var(--bg);
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 1;
}

.splash {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
  border: var(--border);
  background-color: var(--bg);
  max-width: 800px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
}

.jumbotron {
  width: 100%;
  padding: 1rem;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.flex-box::after {
  content: "";
  flex: auto;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-color: var(--bg-accent);
  border-style: solid;
  border-width: 1px;
}

/* =============== *
 * Navigation
 * =============== */

/* <nav> */
nav {
  height: var(--nav-size);
  padding: 0 1rem;
  width: 800px;
  align-items: center;
  justify-content: center;
}

/* <ul> */
.navbar-nav {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:first-child {
  margin-right: auto;
}

/* Icon Button */
.icon-button {
  box-sizing: content-box;
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  border-width: 0px;
  border-style: solid;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
  background-color: var(--bg-accent);
}

.icon-button svg {
  width: 20px;
  height: 20px;
}

.icon-button img {
  border-radius: 50%;
  width: var(--button-size);
  height: var(--button-size);
  object-fit: cover;
}

/* Dropdown Menu */

.dropdown {
  height: 0px;
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
}

.dropdown:focus {
  background-color: red;

}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
  width: 16px;
  height: 16px;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: var(--bg-accent);
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

/* =============== *
 * Typography
 * =============== */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

/* =============== *
 * Components
 * =============== */

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--text-highlight);
}

input,
textarea {
  font-family: var(--open-sans);
  font-weight: 400;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.5rem 1rem;
  background-color: var(--bg-primary);
}

textarea {
  border: 0px;
  border-bottom: 2px solid var(--bg-accent);
  border-right: 2px solid var(--bg-accent);
}

textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--greenteal);
  border-right: 3px solid var(--greenteal);
}

input[type=text],
input[type=number],
input[type=password] {
  border-style: solid;
  border-width: 0;
  border-radius: 0;
  border-bottom-color: var(--bg-accent);
  border-bottom-width: 2px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus {
  outline: none;
  border-bottom-color: var(--greenteal);
  border-bottom-width: 3px;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--btn);
  border: var(--border);
  border-radius: var(--border-radius);
}

.btn:hover {
  background-color: var(--btn-highlight);
}
