:root {
  --fucsia: #9C2750;
  --pink: #FB4B6F;
  --beige: #F9C5AC;
  --grey: #5B585A;
  --teal: #487A7A;

  --darkblue: #262835;
  --bluegrey: #2d333f;

  /* BERT */
  --blackish: #0B0C10;
  --deepblue: #1F2833;
  --lightgrey: #C5C6C7;
  --lightteal: #66FCF1;
  --greenteal: #45A29E;
  --darkteal: #334B4A;
  --brightfucsia: #9D0051;

  /* Fonts */
  --bungee: 'Bungee';
  --bungee-outline: 'Bungee Outline';
  --bungee-shade: 'Bungee Shade';
  --cabin-sketch: 'Cabin Sketch';
  --finger-paint: 'Finger Paint';
  --monoton: 'Monoton';
  --vast-shadow: 'Vast Shadow';
  --open-sans: 'Open Sans';
  --dela-gothic-one: 'Dela Gothic One';
  --catamaran: 'Catamaran';
}

#root {
  width: 100%;
}

html, body {
    height: 100%;
    /* background-color: var(--lightgrey); */
    font-family: var(--open-sans), sans-serif;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

body .screen {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

h1, h2, h3{
  padding-bottom: 20px;
  font-family: var(--catamaran), cursive;
  color: var(--deepblue);
}

.content-lt {
  background-color: #FFFFFF;
}

.jumbotron {
  background-color: var(--deepblue);
  color: #FFFFFF;
}

.jumbotron h1 {
  color: var(--lightteal);
}

.fz-nav {
  background-color: var(--blackish);
}

.fz-btn-dark {
  background-color: var(--blackish);
  border-color: var(--greenteal);
  color: var(--greenteal);
}

.fz-btn-dark:hover, .fz-btn-dark:active {
  background-color: var(--lightteal);
  border-color: var(--lightteal);
  color: var(--deepblue);
}

.fz-btn-light {
  border-color: var(--greenteal);
  color: var(--greenteal);
}

.fz-btn-light:hover, .fz-btn-light:active {
  border-color: var(--darkteal);
  color: var(--darkteal);
}
